body {
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
}

#big-title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#big-nav {
    margin: auto;
    max-width: 700px;

    display: flex;
    align-items: stretch;
    justify-content: center;
}

#big-nav a {
    font-size: 12px;
    padding: 5px 7px 5px 7px;
    margin: 0px 5px 0px 5px;
    color: inherit;
    border-radius: 5px;
    background-color: #eeeeee;
}

#big-nav a:not(.external-link) {
    text-decoration: inherit;
}

#big-nav a:hover {
    background-color: #dddddd;
}

.nav-section-separator {
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    margin: 0px 5px 0px 5px;
}

.external-link {
    text-decoration: underline;
}

#main-content {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 700px;
    font-size: 14px;
    line-height: 1.6;
}

#main-content h1 {
    margin-top: 0;
}

#footer-rule {
    max-width: 600px;
    margin: 0 auto 0 auto;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#footer {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    max-width: 700px;
    margin: 0 auto 0 auto;
    text-align: center;
}
